body{ background-image:url(clair\ de\ lune.jpg);
}
p{color: aqua;font-size: 14
    px;font-family: arial sans-serif Arial, Helvetica, sans-serif}
br{color: violet;}
h1{ color: white}
em{color: beige;}